@charset "utf-8";
/* CSS Document */

.style1 {
	font-family: Tahoma;
	font-size: 12px;
}
.style8 {color: #006699; font-weight: bold; }
.style9 {
	color: #FF0000;
	font-weight: bold;
}

.style11 {	font-size: 9px;
	color: #0000FF;
}
.style12 {font-size: 10px}
.style14 {
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	padding: 3px;
}
.style18 {color: #FFFFFF; font-weight: bold; font-size: 10px; }
.style28 {font-family: Tahoma, Verdana; font-size: 9px; font-weight: bold; }
.form_box {font-size:10px;}
.style30 {
	color: #FFFF00;
	font-weight: bold;
	font-size: 10px;
	font-family: Tahoma, Verdana;
}
.style31 {color: #FFFFFF}
.style33 {font-size: 10px; font-weight: bold; color: #FFFF00; }
.style34 {
	font-family: Tahoma, Verdana;
	font-weight: bold;
	color: #006600;
}
.style35 {color: #FF0000}
@media screen and (max-width:480px) {
	div#bdivone {
		width: 620px;
		font-size: 20px;
		float: none;
	}
	div#bdivtwo {
		width: 620px;
		font-size: 20px;
		float: none;
		display: none;
	}
}
